* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;

}

body {
    font-family: helvetica, arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-image: url("../images/james-day-5YWf-5hyZcw-unsplash.jpg");
    object-position: 50px 30px;
    background-size: inherit;
    
    background-position: 0% 60%;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

/* CARDS */
.card {
    /* margin: 40px 0 20px 0px; */
    background-color: #ffe5b4;
    border-radius: .3rem;
    width: 300px;
    height: 180px;
    margin-top: 12px;
    overflow: hidden;
}

.card-header {
    color: white;
    background-color: darkorange;
    padding: 8px 15px;
    font-size: 25px;
}

.card-body {
    padding: 5px;
    margin: 10px;
}

/* FORM */

.form-input,
.form-textarea {
    display: block;
}

.form-input {
    width: 270px;
    padding: 5px 8px;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: .3rem;
}

.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 270px;
    display: block;
    margin: 15px 0px 15px 0px;
    border-radius: .3rem;
    color: white;
    border: none;
    outline: none;
    background-color: darkorange;
    box-shadow: 3px 3px grey;
    /* transform: translate(-1px, -1px); */
  }

.justify-space-between {
    justify-content: space-between;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 45px auto;
}

#results-container {
    width: 600px;
}

.data-container {
    border: 2px solid black;
    padding: 15px;
    width: 550px;
    height: 275px;
    margin: 10px 0 0 25px;
    
  }

  .data-container box {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
  }

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.forcast {
    display: block;
    margin-top: 25px;
    text-align: center;
}

.blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.forcast-block {
    background-color: orange;
    width: 90px;
    height: 100px;
    margin: 11px;
}

